page-about {
    ion-title {
        text-align: center;
    }
    ul {
        padding: 5px;
        text-align: justify;
    }

    h2 {
        text-align: center;
    }

    img {
        padding: 5px;
    }
}
